html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

.playlist {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    /* font-size: 15px; */
}

.playlist::before {
    content: 'files';
    padding: 20px;
    margin: 20px;
    font-size: 300%;
    /* display: list-item?; */
}

.playlist li {
    /* cursor: pointer; */
    list-style: none;
    ;
    line-height: 1.5;
    /* margin: 20px; */
    border-bottom: solid darkgray 1px;
    padding: 20px 0;
}

.playlist li a:hover {
    color: blue;
}

.playlist .links {
    display: block;
}

.playlist li .name {
    padding-left: 20px
}

.playlist .links::before {
    content: '[';
}

.playlist .links::after {
    content: ']';
}

.playlist .links a {
    margin: 0 10px;
}